/*navigation bar*/
li {
    display: inline;
    text-align: center;
    padding: 14px 16px;
    background-color:yellowgreen;
    border-radius: 50%;
  }
  .navigation_bar{
      float: right;
  }
/*first section*/
.home{
    background-image:url("photos/homepage.jpg");
    background-position-x: center;
    
}
/*heading one*/
h1{
    color: yellowgreen;
    text-align: center;
    background-color: cyan;
}

/*heading two*/
h2{
    color: aqua;
}
h3{
    color: blue;
}


/*shades section*/
.shades{
    background-image: url("photos/shades.jpg");
    color:aqua;
    text-align: center;
}

.shades>.column {
    float: left;
    width: 25%;
    color: cyan;
    
  }
  .shades>.income{
    float: left;
    width: 33.3%;
    background-color: skyblue;
  }
/*about us section*/
.about>p{
    background-color: lightgrey;
    width: 1150px;
    border: 15px solid green;
    padding: 30px;
    margin: 10px;
}
  /*contacts section*/
.contacts>.column {
    float: left;
    width: 50%;
    margin-top: 6px;

    
  }


/*location section*/
.location{
    

}
.location > img{
    height: 400px;
    width: max-content;
}


/*footers section*/
footer{
    text-align: center;

}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    margin: 5px 2px;
    border-radius: 50%;
}
.fa-facebook {
    background: #3B5998;
    color: white;
    
  }
  
.fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
.fa-google {
    background: #dd4b39;
    color: white;
  }
  
.fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
.fa-youtube {
    background: #bb0000;
    color: white;
  }
  
.fa-instagram {
    background: #125688;
    color: white;
  }
  